.headerNav {
	text-align: center;
	background: image-url("advisor-bg.jpg") no-repeat center center scroll; 
	color: #fff;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	padding: 100px 0;
}