.headerNav {
	text-align: center;
	background: image-url("advisor-bg.jpg") no-repeat center center scroll; 
	color: #fff;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	padding: 100px 0;
}

 @font-face {
  font-family: 'FontAwesome';
  src: url('/assets/fontawesome-webfont.eot');
  src: url('/assets/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
    url('/assets/fontawesome-webfont.woff') format('woff'),
    url('/assets/fontawesome-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


