 <!-- topHead start from here -->	
	<div class="topHead">
    <div class="container">
    				
                    <div class="row">
                    <div class="col col-sm-12">
                    
                    		<div class="col col-sm-6">
                    		<div class="logo2">
                    		<a href="index.html"><img class="img-responsive" src="assets/logo.png"></a>
                    		</div>
                    		</div> 
                    
                    
                    
                    		<div class="col col-sm-3">
                    		<div class="logNJoin">
                            <ul class="navbar-right">
                    		<li><a href="#">Login</a></li>
                            <li><a href="#">Join Us</a></li>
                            </ul>
                            </div>
                    		</div>
                    
                    
                    		<div class="col col-sm-3">
                            <div class="searchBox">
                    		<form class="form">
                 			<div class="input-group text-center">
                 			<input type="text" class="form-control " title="" placeholder="Search about Nepal..." style="height:30px;">
                 			<span class="input-group-btn"><button class="btn btn-lg btn-success2" type="submit"><i class="fa fa-paper-plane small"></i></button></span>
                 			</div>
                 			</form>
                    		</div>
                            </div> 
                   
                   
                    </div>
                    </div>
    
    
    
    
    </div>
    </div>
   
   <!-- topHead end here -->	 
   
    
   <div class="col col-sm-12 innerNav">
   				<nav class="navbar navbar-inverse navbar-fixed-top"> <!--- nav start from here -->
      					<div class="container">
        				<div class="navbar-header">
        				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            			<span class="sr-only">Toggle navigation</span>
            			<span class="icon-bar"></span>
            			<span class="icon-bar"></span>
            			<span class="icon-bar"></span>
         				</button>
        				</div>
        
        				<div id="navbar" class="collapse navbar-collapse nav2">
          				<ul class="nav navbar-nav">
                        <li>Why are you interested to visit Nepal?:</li>
            			<li><a href="trekking.html">Trekking</a></li>
                        <li><a href="tourisum.html">Tourisum</a></li>
                   		<li><a href="culture.html">Culture</a></li>
                   	 	<li><a href="business.html">Business</a></li>
                    	<li><a href="legal.html">Legal</a></li>
                    	<li><a href="visa.html">Visa</a></li>
         				</ul>
                        
                       
                    	
        				</div><!--/.nav-collapse -->
      					</div>
    			</nav><!--- nav end here -->
   
   
   
  </div>
   
   
   
   
   <!-- inner banner start from here -->		
 	<div class="banner5">
    <div class="container">
    <div class="col col-sm-12"
    <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4"><h2>business in Nepal</h2></div>
    <div class="col-sm-4"></div>
    </div></div>
    
    </div>
   
 
 
 
 
  <!-- inner banner end here -->			
 <div class="gap"></div>
 <!-- main body start from here -->	
	
    <div class="container">
	<div class="row">
  			  
      		  <div class="col col-sm-9"><!-- content body start from here -->
              
         
          
              
              <div class="col-sm-12"> 
              <div class="row">
              <img src="assets/bannerads.jpg" class="img-responsive"> 
              </div> 
        	  </div>   
             
             
             
              <div class="gap"></div>
              
             
             
             
             <div class="col-sm-12">
             <div class="row">
             <div class="pageTitle"> 
             <!-- <h5>Business In Nepal</h5> -->
             <!-- <div class="border"></div> -->
             <div class="gap"></div>
             <%= @category.Description.html_safe %>
            
             
             <div class="innerBannerImg">
             <img src="assets/business-img.jpg" class="img-responsive" > </div>
             
            
            <!-- <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim 				 			ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,  			adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur</p>
            
            
            
             <p>Inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi 				nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquidex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel  		 			illum qui dolorem eum fugiat quo voluptas nulla pariatur</p> -->
             
        	</div>
        	</div><!------------- row end ------------->  
            </div><!-- col col-sm-12 end --> 
            
            
            
            
 			 <div class="col-sm-12">
             <div class="row">
             <div class="pageTitleTab"> 
             <h5>Best Business options in Nepal</h5>
             <div class="border"></div>
             
             
             
        		<div class="col col-sm-12 navIcon">
        		
                	<div class="col col-sm-2 navIconButton">
                    <a href="businessInner.html"><img class="img-responsive" src="assets/IT-img.png"/></a>
                    </div>
                    <div class="col col-sm-2 navIconButton">
                    <a href="businessInner.html"><img class="img-responsive" src="assets/Travel-img.png"/></a>
                    </div>
                    <div class="col col-sm-2 navIconButton">
                    <a href="#"><img class="img-responsive" src="assets/hotel-img.png"/></a>
                    </div>
                    <div class="col col-sm-2 navIconButton">
                    <a href="businessInner.html"><img class="img-responsive" src="assets/mall-img.png"/></a>
                    </div>
                    <div class="col col-sm-2 navIconButton">
                    <a href="businessInner.html"><img class="img-responsive" src="assets/bank-img.png"/></a>
                    </div>
                    <div class="col col-sm-2 navIconButton">
                    <a href="businessInner.html"><img class="img-responsive" src="assets/cafe-img.png"/></a>
                    </div>
                
                </div>
       
              
           	</div>
        	</div><!------------- row end ------------->    
            </div><!-- col col-sm-12 end -->   
            
            
            
            
            <div class="col-sm-12">
             <div class="row">
             <div class="pageTitleTab"> 
             <h5>Some Useful Links</h5>
             <div class="border"></div>
             <div class="col col-sm-12 lawInfo">
             <ul>
             <li><a href="legalInner.html">Sed ut perspiciatis unde omnis iste natus error sit</a> </li>
             <li><a href="legalInner.html">Voluptatem accusantium doloremque laudantium</a></li>
             <li><a href="legalInner.html">Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis </a></li>
             <li><a href="legalInner.html">Quasi architecto beatae vitae dicta sunt explicabo</a></li>
             <li><a href="legalInner.html">Enim ipsam voluptatem quia voluptas sit aspernatur aut odit</a></li> 
             <li><a href="legalInner.html">Aut fugit, sed quia consequuntur magni dolores eos qui ratione</a> </li>
             <li><a href="legalInner.html">Voluptatem sequi nesciunt. Neque porro quisquam est</a></li>
             </ul>
            
             </div> 
           	</div>
        	</div><!------------- row end ------------->    
            </div><!------------- col col-sm-12 end ------------->      
            
          
    
            
            
           	
             
</div><!-- content body end here --> 
        
        
        
        
        
        
         <div class="col col-sm-3"><!---- rightPanel start from here -->
         <div class="rightPanel">
                <div class="adsTitle"><i class="fa fa-rocket"></i> Advertisement </div>
                
                <div class="adsBanner">
                <img class="img-responsive" src="assets/ads03.jpg">
                </div>
                
                <div class="adsBanner">
                <img class="img-responsive" src="assets/ads02.jpg">
                </div>
                
                <div class="adsBanner">
                <img class="img-responsive" src="assets/ads01.jpg">
                </div>
                </div>
                
               
               <div class="quickLinks">Quick Links</div>
               <hr style="margin-top:8px;">
               <div class="quickLinksMenu">
               <p >Talk to us
               </br>
			   <span><a href="#">- Send feedback or report a problem</a></span>
			   </p>
			   
               <p>For owners
               </br>
               <span><a href="#">- Business Listings for hotel marketing</a></span>
               </br>
               <span><a href="#">- Visit your Management Center</a></span>
               </p>

               <p>Advertise with us
               </br>
               <span><a href="#">- Find out about advertising or partnering with us</a></span>
               </p>
               </div>
               <hr>
               
               <div class="followUs">Follow Us On</div>
               <hr style="margin-top:8px;">
               <div class="followIcon">
               <a href="#"><img src="assets/facebook-img.png"></a>
               <a href="#"><img src="assets/twitter-img.png"></a>
               </div>
               <hr style="margin-top:8px;">
         </div><!-------------------------------- rightPanel end here -------------------------------->
        
        
        
        
        
       
                       


</div>
</div>   