
   
   
   <!-- inner banner start from here -->		
 	<div class="banner5">
    <div class="container">
    <div class="col col-sm-12"
    <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4"><h2>business in Nepal</h2></div>
    <div class="col-sm-4"></div>
    </div></div>
    
    </div>
   
 
 
 
 
  <!-- inner banner end here -->			
 <div class="gap"></div>
 <!-- main body start from here -->	
	
    <div class="container">
	<div class="row">
  			  
      		  <div class="col col-sm-9"><!-- content body start from here -->
              
         
          
              
              <div class="col-sm-12"> 
              <div class="row">
              <img src="assets/bannerads.jpg" class="img-responsive"> 
              </div> 
        	  </div>   
             
             
             
              <div class="gap"></div>
              
             
             
             
             <div class="col-sm-12">
             <div class="row">
             <div class="pageTitle"> 
             <!-- <h5>Business In Nepal</h5> -->
             <!-- <div class="border"></div> -->
             <div class="gap"></div>
             <%= @category.Description.html_safe %>
            
             
             <div class="innerBannerImg">
             <img src="assets/business-img.jpg" class="img-responsive" > </div>
             
            
            
             
        	</div>
        	</div><!------------- row end ------------->  
            </div><!-- col col-sm-12 end --> 
            
            
            
            
 			 <div class="col-sm-12">
             <div class="row">
             <div class="pageTitleTab"> 
             <h5>Best Business options in Nepal</h5>
             <div class="border"></div>
             
             
             
        		  <div class="row"> 
              <% j = 0 %>
                <% @items.each do |i| %>
                <%  j +=1 %>
              <!---------- row start ---------->
                <div class="col-sm-4"><%= link_to image_tag(i.images[0].image_url(:thumb),:class =>"img-responsive"), item_path(i) %>
                <div class="titlePlaceInfo">
                <span class="mainTitle"><%= i.Name %></span></br>
                <span class="mainTitleLocation"><%= i.Description %></span></br>
                <span class="likesReview">286 LIKES / <span style="color:#5f9a16;">240 reviews</span></span>
                </div></div>
                <% if j%3==0 %>
                </div>
                <% end %>

                <% end %>
       
              
           	</div>
        	</div><!------------- row end ------------->    
            </div><!-- col col-sm-12 end -->   
            
            
            
            
            <div class="col-sm-12">
             <div class="row">
             <div class="pageTitleTab"> 
             <h5>Some Useful Links</h5>
             <div class="border"></div>
             <div class="col col-sm-12 lawInfo">
             <ul>
             <li><a href="legalInner.html">Sed ut perspiciatis unde omnis iste natus error sit</a> </li>
             <li><a href="legalInner.html">Voluptatem accusantium doloremque laudantium</a></li>
             <li><a href="legalInner.html">Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis </a></li>
             <li><a href="legalInner.html">Quasi architecto beatae vitae dicta sunt explicabo</a></li>
             <li><a href="legalInner.html">Enim ipsam voluptatem quia voluptas sit aspernatur aut odit</a></li> 
             <li><a href="legalInner.html">Aut fugit, sed quia consequuntur magni dolores eos qui ratione</a> </li>
             <li><a href="legalInner.html">Voluptatem sequi nesciunt. Neque porro quisquam est</a></li>
             </ul>
            
             </div> 
           	</div>
        	</div><!------------- row end ------------->    
            </div><!------------- col col-sm-12 end ------------->      
            
          
    
            
            
           	
             
</div><!-- content body end here --> 
        
        
        
        
        
        
         <div class="col col-sm-3"><!---- rightPanel start from here -->
         <div class="rightPanel">
                <div class="adsTitle"><i class="fa fa-rocket"></i> Advertisement </div>
                
                <div class="adsBanner">
                <img class="img-responsive" src="assets/ads03.jpg">
                </div>
                
                <div class="adsBanner">
                <img class="img-responsive" src="assets/ads02.jpg">
                </div>
                
                <div class="adsBanner">
                <img class="img-responsive" src="assets/ads01.jpg">
                </div>
                </div>
                
               
               <div class="quickLinks">Quick Links</div>
               <hr style="margin-top:8px;">
               <div class="quickLinksMenu">
               <p >Talk to us
               </br>
			   <span><a href="#">- Send feedback or report a problem</a></span>
			   </p>
			   
               <p>For owners
               </br>
               <span><a href="#">- Business Listings for hotel marketing</a></span>
               </br>
               <span><a href="#">- Visit your Management Center</a></span>
               </p>

               <p>Advertise with us
               </br>
               <span><a href="#">- Find out about advertising or partnering with us</a></span>
               </p>
               </div>
               <hr>
               
               <div class="followUs">Follow Us On</div>
               <hr style="margin-top:8px;">
               <div class="followIcon">
               <a href="#"><img src="assets/facebook-img.png"></a>
               <a href="#"><img src="assets/twitter-img.png"></a>
               </div>
               <hr style="margin-top:8px;">
         </div><!-------------------------------- rightPanel end here -------------------------------->
        
        
        
        
        
       
                       


</div>
</div>   