
   <!-- inner banner start from here -->    
  <div class="banner2">
    <div class="container">
    <div class="col col-sm-12"
    <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4"><h2>Tourisum in Nepal</h2></div>
    <div class="col-sm-4"></div>
    </div></div>
    
    </div>
   
 
 
 
 
  <!-- inner banner end here -->      
 <div class="gap"></div>
 <!-- main body start from here --> 
  
    <div class="container">
  <div class="row">
          
            <div class="col col-sm-9"><!-- content body start from here -->
              
         
          
              
              <div class="col-sm-12"> 
              <div class="row">
              <img src="assets/bannerads2.jpg" class="img-responsive"> 
              </div> 
            </div>   
             
             
             
              <div class="gap"></div>
              
             
             
             
             <div class="col-sm-12">
             <div class="row">
             <div class="pageTitle"> 
              <!-- <h5>Tourisum in Nepal</h5> -->
             <!-- <div class="border"></div>  -->
             
             <%= @category.Description.html_safe %>
            
          
            
             
             
          </div>
          </div><!-- row end -->  
            </div><!-- col col-sm-12 end --> 
        
        
        
       <div class="col-sm-12">
             <div class="row">
             <div class="pageTitleTab"> 
             <h5>Best places to visit in Nepal</h5>
             <div class="border"></div>
             
              <div class="row"> 

               <% j = 0 %>
                <% @items.each do |i| %>
                <%  j +=1 %>

              <!---------- row start ---------->
                <div class="col-sm-4"><a href="tourisumInner.html"><img class="img-responsive" src=<%= i.images[0].image %>></a>
                <div class="titlePlaceInfo">
                <span class="mainTitle"><%= i.Name %></span></br>
                <span class="mainTitleLocation"><%= i.Description %></span></br>
                <span class="likesReview">286 LIKES / <span style="color:#5f9a16;">240 reviews</span></span>
                </div></div>
                <% if j%3==0 %>
                <% end %>
                <% end %>
                
               
                 <!-- <div class="col-sm-4"><img class="img-responsive" src="assets/tourisum/tourisum2.png">
                <div class="titlePlaceInfo">
                <span class="mainTitle">Swayambhunath Stupa</span></br>
                <span class="mainTitleLocation">Kathmandu, Nepal</span></br>
                <span class="likesReview">286 LIKES / <span style="color:#5f9a16;">240 reviews</span></span>
                </div></div> -->
                
                
                
                <div class="col-sm-4"><img class="img-responsive" src="assets/tourisum/tourisum3.png">
                <div class="titlePlaceInfo">
                <span class="mainTitle">Patan durbar square</span></br>
                <span class="mainTitleLocation">Lalitpur, Nepal</span></br>
                <span class="likesReview">286 LIKES / <span style="color:#5f9a16;">240 reviews</span></span>
                </div></div>
                
                
                </div><!---------- row end ---------->
                
                
                
                <div class="row"> <!---------- row start ---------->
                <div class="col-sm-4"><img class="img-responsive" src="assets/tourisum/tourisum4.png">
                <div class="titlePlaceInfo">
                <span class="mainTitle">Lumbini</span></br>
                <span class="mainTitleLocation">Kapilvastu, Nepal</span></br>
                <span class="likesReview">286 LIKES / <span style="color:#5f9a16;">240 reviews</span></span>
                </div></div>
                
                
               
                <div class="col-sm-4"><img class="img-responsive" src="assets/tourisum/tourisum5.png">
                <div class="titlePlaceInfo">
                <span class="mainTitle">pashupatinath</span></br>
                <span class="mainTitleLocation">Kathmandu, Nepal</span></br>
                <span class="likesReview">286 LIKES / <span style="color:#5f9a16;">240 reviews</span></span>
                </div></div>
                
                
                
                <div class="col-sm-4"><img class="img-responsive" src="assets/tourisum/tourisum6.png">
                <div class="titlePlaceInfo">
                <span class="mainTitle">boudhanath Stupa</span></br>
                <span class="mainTitleLocation">Kathmandu, Nepal</span></br>
                <span class="likesReview">286 LIKES / <span style="color:#5f9a16;">240 reviews</span></span>
                </div></div>
               
                
                </div><!---------- row end ---------->
                
                
                
                <div class="row"> <!---------- row start ---------->
                <div class="col-sm-4"><img class="img-responsive" src="assets/tourisum/tourisum7.png">
                <div class="titlePlaceInfo">
                <span class="mainTitle">bhaktapur durbar square</span></br>
                <span class="mainTitleLocation">Bahktapur, Nepal</span></br>
                <span class="likesReview">286 LIKES / <span style="color:#5f9a16;">240 reviews</span></span>
                </div></div>
                
                
               
                <div class="col-sm-4"><img class="img-responsive" src="assets/tourisum/tourisum8.png">
                <div class="titlePlaceInfo">
                <span class="mainTitle">Shanti Stupa</span></br>
                <span class="mainTitleLocation">Pokhara, Nepal</span></br>
                <span class="likesReview">286 LIKES / <span style="color:#5f9a16;">240 reviews</span></span>
                </div></div>
                
                
                
                <div class="col-sm-4"><img class="img-responsive" src="assets/tourisum/tourisum9.png">
                <div class="titlePlaceInfo">
                <span class="mainTitle">budhanilkantha</span></br>
                <span class="mainTitleLocation">Kathmandu, Nepal</span></br>
                <span class="likesReview">286 LIKES / <span style="color:#5f9a16;">240 reviews</span></span>
                </div></div>
               
                
                </div><!---------- row end ---------->
                
                
                 <div class="row"> <!---------- row start ---------->
                <div class="col-sm-4"><img class="img-responsive" src="assets/tourisum/tourisum10.png">
                <div class="titlePlaceInfo">
                <span class="mainTitle">Kirtipur</span></br>
                <span class="mainTitleLocation">Kirtipur, Nepal</span></br>
                <span class="likesReview">286 LIKES / <span style="color:#5f9a16;">240 reviews</span></span>
                </div></div>
                
                
               
                <div class="col-sm-4"><img class="img-responsive" src="assets/tourisum/tourisum11.png">
                <div class="titlePlaceInfo">
                <span class="mainTitle">changunarayan temple</span></br>
                <span class="mainTitleLocation">changunarayan, Nepal</span></br>
                <span class="likesReview">286 LIKES / <span style="color:#5f9a16;">240 reviews</span></span>
                </div></div>
                
                
                
                <div class="col-sm-4"><img class="img-responsive" src="assets/tourisum/tourisum12.png">
                <div class="titlePlaceInfo">
                <span class="mainTitle">chitwan</span></br>
                <span class="mainTitleLocation">chitwan, Nepal</span></br>
                <span class="likesReview">286 LIKES / <span style="color:#5f9a16;">240 reviews</span></span>
                </div></div>
               
                
                </div><!---------- row end ---------->
                
                
                 <div class="row"> <!---------- row start ---------->
                <div class="col-sm-4"><img class="img-responsive" src="assets/tourisum/tourisum13.png">
                <div class="titlePlaceInfo">
                <span class="mainTitle">Chovar</span></br>
                <span class="mainTitleLocation">Chovar, Nepal</span></br>
                <span class="likesReview">286 LIKES / <span style="color:#5f9a16;">240 reviews</span></span>
                </div></div>
                
                
               
                <div class="col-sm-4"><img class="img-responsive" src="assets/tourisum/tourisum14.png">
                <div class="titlePlaceInfo">
                <span class="mainTitle">narayanhiti museum</span></br>
                <span class="mainTitleLocation">Kathmandu, Nepal</span></br>
                <span class="likesReview">286 LIKES / <span style="color:#5f9a16;">240 reviews</span></span>
                </div></div>
                
                
                
                <div class="col-sm-4"><img class="img-responsive" src="assets/tourisum/tourisum15.png">
                <div class="titlePlaceInfo">
                <span class="mainTitle">HanumanDhoka Museum</span></br>
                <span class="mainTitleLocation">Kathmandu, Nepal</span></br>
                <span class="likesReview">286 LIKES / <span style="color:#5f9a16;">240 reviews</span></span>
                </div></div>
               
                
                </div><!---------- row end ---------->
                
                
           
             
          </div>
          </div><!------------- row end ------------->    
            </div><!------------- col col-sm-12 end ------------->      
        
        
       
        </div><!-------------------------------- content body end here --------------------------------> 
        
        
        
        
        
        
         <div class="col col-sm-3"><!-------------------------------- rightPanel start from here -------------------------------->
         <div class="rightPanel">
                <div class="adsTitle"><i class="fa fa-rocket"></i> Advertisement </div>
                
                <div class="adsBanner">
                <img class="img-responsive" src="assets/ads03.jpg">
                </div>
                
                <div class="adsBanner">
                <img class="img-responsive" src="assets/ads02.jpg">
                </div>
                
                <div class="adsBanner">
                <img class="img-responsive" src="assets/ads01.jpg">
                </div>
                </div>
                
               
               <div class="quickLinks">Quick Links</div>
               <hr style="margin-top:8px;">
               <div class="quickLinksMenu">
               <p >Talk to us
               </br>
         <span><a href="#">- Send feedback or report a problem</a></span>
         </p>
         
               <p>For owners
               </br>
               <span><a href="#">- Business Listings for hotel marketing</a></span>
               </br>
               <span><a href="#">- Visit your Management Center</a></span>
               </p>

               <p>Advertise with us
               </br>
               <span><a href="#">- Find out about advertising or partnering with us</a></span>
               </p>
               </div>
               <hr>
               
               <div class="followUs">Follow Us On</div>
               <hr style="margin-top:8px;">
               <div class="followIcon">
               <a href="#"><img src="assets/facebook-img.png"></a>
               <a href="#"><img src="assets/twitter-img.png"></a>
               </div>
               <hr style="margin-top:8px;">
         </div><!-------------------------------- rightPanel end here -------------------------------->
        
        
        
        
        
       
                       


</div>
</div>   
   
 <!------------------------------------------------------------------- main body end here ------------------------------------------------------------------->     
   
   
   
   
   
   
   
   
   
   
   <!-- footer start from here -->
   <div class="container">
   <div class="row">
      
        <div class="col col-sm-12">
      <div class="footer">
        
   
      <div class="col col-sm-7 footerNav">
        <ul>
      <li><a href="#">About Us</a></li>
        <li><a href="#">Site Map</a></li>
        <li><a href="#">Help Center</a></li>
        <li><a href="#">Terms of Use</a></li>
        <li><a href="#">Privacy Policy</a></li>
        </ul>
        
       
        <p>&copy; 2015 nepaladviser. All rights reserved.</p>

        
      </div>
   
   
  
      <div class="col col-sm-5 policyNote">
        <p>* nepaladviser is not a booking agent and does not charge any service fees to users of our site... <span class="policyNoteMore"><a href="#">(more)</a></span>
    nepaladviser is not responsible for content on external web sites. Taxes, fees not included for deals content.</p>
        
        </div>
        
        </div>
      </div>    
   
   
   </div>
   </div>


