<div class="row">
  <div class="col col-sm-12"> 
  
   <% @horizontal_advertisement.each do |ad| %>
   <% if ad.text.present? %>
             <%= ad.text.html_safe %>
           <% else %>
           <%= link_to image_tag(ad.image_url(:horizontal), :class => "img-responsive"), clicked_path(ad.id), :target => "_blank"%>
<% end %>
             <% end %>
  </div> 
</div>   
