<div class="row">
  <div class="col col-sm-12"> 
  
   <% @horizontal_advertisement.each do |ad| %>
             <%= image_tag ad.image_url(:horizontal), :class => "img-responsive"%><% end %>
  </div> 
</div>   